<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

@Html.Partial("~/Views/LayoutPartial/_HeaderPartial.cshtml")

<body>
 
  



  @RenderBody()
 
  @Html.Partial("~/Views/LayoutPartial/_NavbarPartial.cshtml")
 

 @Html.Partial("~/Views/LayoutPartial/_FooterPartial.cshtml")
 
 @Html.Partial("~/Views/LayoutPartial/_ScriptsPartial.cshtml")

</body>

</html>